*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
@media (max-width: 768px) {
    #video {
        right: -70%;
    }
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#262836;
}

.box{
    position:relative;
    width: 500px;
    height: 600px;
    background:transparent;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    /*background: linear-gradient(0deg,transparent,
    transparent,#414141,#414141,#414141);*/
    z-index: 1;
    transform-origin: bottom right ;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    /*background: linear-gradient(0deg,transparent,
    transparent,#414141,#414141,#414141);*/
    z-index: 1;
    transform-origin: bottom right ;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
/*
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    transparent,#6a6f92,#6a6f92,#6a6f92);
    z-index: 1;
    transform-origin: bottom right ;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 500px;
    height: 600px;
    background: linear-gradient(0deg,transparent,
    transparent,#6a6f92,#6a6f92,#6a6f92);
    z-index: 1;
    transform-origin: bottom right ;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
*/
.box form{
    position: absolute;
    inset: 4px;
    background: transparent;  
    padding: 100px 90px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    margin-top: 50px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}

.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 90px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 40px 20px 20px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color:#23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 40px 20px 20px;
    pointer-events: none;
    color: #7e7777;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i{
    height: 44px;
}

.inputBox {
    text-align: center;
}
.btn {
    background-color: #414141;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.25em;
}
.btn:hover {
    background-color: #7e7e7e;
    color: #000;
}
