/* Cabeçalho */
.cabecalho {
    color: #ffffff;
    /*border-bottom: solid 0.2em #000;*/
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #6a6f92;
}
#btn-pais {
    border-radius: 100%;
    background-color: #ffffff;
    border: 0;
    color: #000;
}
#btn-pais:hover {
    background-color: #c5c5c5;
}

@media (min-width: 768px) {
    .btn {
        margin-left: 1em;
    }
}
li .bi {
    margin-left: 1em;
    font-size: 2em;
    color: #fff;
}
li .bi:hover {
    color: #27273d;
}
.name {
    font-family: 'Playfair Display', serif;
}
/* Informações */
body {
    overflow-x: hidden;
    background-color: #6a6f92;
}
.espaco {
    margin-top: 5em;
}
.titulo {
    font-size: 5em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
.subtitulo {
    margin-top: 1em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
#texto {
    font-family: 'Lato', sans-serif;
}
@media (max-width: 811px) {
    img {
        width: 100px;
    }
    .titulo {
        font-size: 2em;
        text-align: center;
    }
    .subtitulo {
        margin-top: 1em;
        text-align: center;
        font-size: 1em;
    }
    #brasao {
        width: 80px;
    }
    .name {
        font-size: 1.35em;
        text-align: center;
    }
}
#fundo {
    padding-top: 5em;
    padding-bottom: 5em;
    background: linear-gradient(to right, #27273d, #747baa,  #fff 30%,#fff 70%,#747baa, #27273d);
}
/* Rodapé */
.rodape {
    background-color: #6a6f92;
    text-align: center;
    padding-bottom: 1em;
    color: #fff;
}
.rodape a {
    margin-left: 1em;
    color: #fff;
    font-size: 2em;
    text-align: center;
}
.rodape a:hover {
    color: #27273d;
}