/* Cabeçalho */
.cabecalho {
    color: #fff;
    border-bottom: solid 0.2em #000;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: red;
}
/* Informações */
.espaco {
    margin-top: 5em;
}
.titulo {
    font-size: 5em;
    text-align: center;
}
.subtitulo {
    margin-top: 1em;
    text-align: center;
}

#fundo {
    padding-top: 5em;
    padding-bottom: 50em;
    background: linear-gradient(to right, #000,#252525, #464545, #797979,  #fff 28%,#fff 79%,#000);
    
}